$desktop-width: 45rem;

$gap: 2rem;

$margin-x: 0px 1rem;
$margin-x-big: 0px 10rem;
$margin-y: 1rem 0px;
$margin-y-big: 2rem 0px;
$margin-big: 5rem 10rem;

$padding: 1rem 1.5rem;
$padding-big: 2rem 1.5rem;

$line-height-p: 1.5em;
$line-height-h: 1em;