// @font-face {
//     font-family: 'inter';
//     src: url('../grid-challenge/assets/fonts/Inter-VariableFont_slnt,wght.ttf');
// }

$paragraph: 15px;

$font-size-small: 11px;
$font-size-medium-small: 13px;
$font-size-medium: 14px;
$font-size-medium-big: 20px;
$font-size-big: 30px;
$font-size-very-big: 40px;

$font-weight-small: 400;
$font-weight-medium: 700;
$font-weight-big: 800;

$letter-spacing-narrow: -0.03rem;
$letter-spacing-wide: 0.2rem;