@font-face {
    font-family: 'inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

$font-size-small: 0.9rem;
$font-size-medium-small: 1rem;
$font-size-medium: 1.25rem;
$font-size-medium-big: 2rem;
$font-size-big: 2.8rem;
$font-size-very-big: 3.5rem;

$font-weight-small: 400;
$font-weight-medium: 700;
$font-weight-big: 800;

$letter-spacing-narrow: -0.1rem;
$letter-spacing-wide: 0.2rem;