@mixin flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-container-row {
    display: flex;
    flex-direction: row;
}

@mixin theme($background-color) {
    @if $background-color == "dark" {
        background-color: $dark-blue;
        color: $off-white;
    } @else {
        color: $dark-blue;
    }
}


.header {
    @include flex-container-row;
    margin: $margin-y-big;
    justify-content: space-between;
}

.menu {
    height: 1.2rem;
    margin: auto 0px;
    cursor: pointer;
    @media(min-width: $desktop-width) {
        display: none;
    }
}

#menu-overlay-background {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $dark-blue-transparent;
    z-index: 1;
}

#menu-overlay {
    position: fixed;
    display: none;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $off-white;
    z-index: 2;
}

.menu-close {
    width: 2rem;
    margin-top: 2*$gap;
    margin-right: 0.7*$gap;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: $gap;
    a {
        margin-bottom: $gap;
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }
}

.nav-bar {
    display: none;
    @media(min-width: $desktop-width) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 39%;
        a {
            &:hover {
            color: $red;
            cursor: pointer;
            }
        }
    }
}


.home-grid {
    display: grid;
    gap: $gap;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'image'
    'highlight-title'
    'highlight-abstract'
    'new-articles'
    'top-article-1'
    'top-article-2'
    'top-article-3';
}

.image {
    grid-area: image;
}

.highlight-title {
    grid-area: highlight-title;
}

.highlight-abstract {
    grid-area: highlight-abstract;
    @include flex-container;
}

.new-articles {
    grid-area: new-articles;
    @include flex-container;
    @include theme(dark);
    @media(min-width: $desktop-width) {
        margin: 0px;
    }
    h3 {
        &:hover {
            color: $orange;
            cursor: pointer;
        }
    }
}

.top-article {
    margin-top: $gap;
    @include flex-container-row;
    &:nth-child(1) {
        grid-area: top-article-1;
    }
    &:nth-child(2) {
        grid-area: top-article-2;
    }
    &:nth-child(3) {
        grid-area: top-article-3;
    }
    h4 {
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }
}

@media(min-width: $desktop-width) {
    .home-grid {
        grid-template-areas:
        'image image new-articles'
        'highlight-title highlight-abstract new-articles'
        'top-article-1 top-article-2 top-article-3';
    }
}

.logo {
    width: 3rem;
    margin: $margin-y-big;
}

.mobile-img {
    width: 100%;
    @media (min-width: $desktop-width) {
        display: none;
    }
}

.desktop-img {
    display: none;
    @media (min-width: $desktop-width) {
        display: flex;
        width: 100%;
    }
}

.top-article-image {
    max-width: 32%;
    height: 100%;
    margin-right: $gap;
    object-fit: cover;
}

.top-article-text {
    @include flex-container;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $dark-grayish-blue;
    margin: 0.5*$gap 0;
    padding: 0;
}


body {
    // font-family: 'inter';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @include theme(light);
    margin: $margin-x;
    @media (min-width: $desktop-width) {
        margin: $margin-big;
    }
}

h1 {
    font-size: $font-size-very-big;
    font-weight: $font-weight-big;
    line-height: $line-height-h;
    letter-spacing: $letter-spacing-narrow;
    margin: 0;
}

h2 {
    font-size: $font-size-big;
    font-weight: $font-weight-big;
    line-height: $line-height-h;
    letter-spacing: $letter-spacing-narrow;
    margin: 0;
}

h3 {
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: $line-height-h;
    margin: $margin-y;
}

h4 {
    font-size: $font-size-medium-small;
    font-weight: $font-weight-medium;
    line-height: $line-height-h;
    margin: 0;
}

p {
    font-size: $font-size-small;
    font-weight: $font-weight-small;
    line-height: $line-height-p;
    margin: 0;
    color: $dark-grayish-blue;
}