.attribution {
    margin-top: 7rem;
    font-size: 0.8rem;
    text-align: center;
    a {
        color: $attribution-color;
    }
}


.btn-color {
    background-color: $red;
    border: 1px outset $red;
    &:hover {
        background-color: $dark-blue;
        border: 1px outset $dark-blue;
        cursor: pointer;
    }
}

.btn-color-text {
    color: $off-white;
}

.btn-size {
    width: 14em;
    height: 3.5em;
}

.btn-txt-align {
    display: flex;
    align-items: center;
    justify-content: center;
}


.txt-spacing-wide {
    letter-spacing: $letter-spacing-wide;
}

.padding {
    padding: $padding;
}

.padding-big {
    padding: $padding-big;
}


.color-highlight {
    color: $orange;
}

.color-light{
    color: $grayish-blue;
}


.number-color {
    color: $grayish-blue;
}

.number-size {
    font-size: $font-size-medium-big;
    font-weight: $font-weight-big;
}

.font-size-medium-small {
    font-size: $font-size-medium-small;
}