@font-face {
  font-family: "inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
.header {
  display: flex;
  flex-direction: row;
  margin: 2rem 0px;
  justify-content: space-between;
}

.menu {
  height: 1.2rem;
  margin: auto 0px;
  cursor: pointer;
}
@media (min-width: 45rem) {
  .menu {
    display: none;
  }
}

#menu-overlay-background {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: hsla(240, 100%, 5%, 0.5);
  z-index: 1;
}

#menu-overlay {
  position: fixed;
  display: none;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: hsl(36, 100%, 99%);
  z-index: 2;
}

.menu-close {
  width: 2rem;
  margin-top: 4rem;
  margin-right: 1.4rem;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 2rem;
}
.menu-nav a {
  margin-bottom: 2rem;
}
.menu-nav a:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.nav-bar {
  display: none;
}
@media (min-width: 45rem) {
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 39%;
  }
  .nav-bar a:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
  }
}

.home-grid {
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "image" "highlight-title" "highlight-abstract" "new-articles" "top-article-1" "top-article-2" "top-article-3";
}

.image {
  grid-area: image;
}

.highlight-title {
  grid-area: highlight-title;
}

.highlight-abstract {
  grid-area: highlight-abstract;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-articles {
  grid-area: new-articles;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}
@media (min-width: 45rem) {
  .new-articles {
    margin: 0px;
  }
}
.new-articles h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.top-article {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.top-article:nth-child(1) {
  grid-area: top-article-1;
}
.top-article:nth-child(2) {
  grid-area: top-article-2;
}
.top-article:nth-child(3) {
  grid-area: top-article-3;
}
.top-article h4:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

@media (min-width: 45rem) {
  .home-grid {
    grid-template-areas: "image image new-articles" "highlight-title highlight-abstract new-articles" "top-article-1 top-article-2 top-article-3";
  }
}
.logo {
  width: 3rem;
  margin: 2rem 0px;
}

.mobile-img {
  width: 100%;
}
@media (min-width: 45rem) {
  .mobile-img {
    display: none;
  }
}

.desktop-img {
  display: none;
}
@media (min-width: 45rem) {
  .desktop-img {
    display: flex;
    width: 100%;
  }
}

.top-article-image {
  max-width: 32%;
  height: 100%;
  margin-right: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(236, 13%, 42%);
  margin: 1rem 0;
  padding: 0;
}

body {
  font-family: "inter";
  color: hsl(240, 100%, 5%);
  margin: 0px 1rem;
}
@media (min-width: 45rem) {
  body {
    margin: 5rem 10rem;
  }
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: -0.1rem;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: -0.1rem;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1em;
  margin: 1rem 0px;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  color: hsl(236, 13%, 42%);
}

.attribution {
  margin-top: 7rem;
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn-color {
  background-color: hsl(5, 85%, 63%);
  border: 1px outset hsl(5, 85%, 63%);
}
.btn-color:hover {
  background-color: hsl(240, 100%, 5%);
  border: 1px outset hsl(240, 100%, 5%);
  cursor: pointer;
}

.btn-color-text {
  color: hsl(36, 100%, 99%);
}

.btn-size {
  width: 14em;
  height: 3.5em;
}

.btn-txt-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-spacing-wide {
  letter-spacing: 0.2rem;
}

.padding {
  padding: 1rem 1.5rem;
}

.padding-big {
  padding: 2rem 1.5rem;
}

.color-highlight {
  color: hsl(35, 77%, 62%);
}

.color-light {
  color: hsl(233, 8%, 79%);
}

.number-color {
  color: hsl(233, 8%, 79%);
}

.number-size {
  font-size: 2rem;
  font-weight: 800;
}

.font-size-medium-small {
  font-size: 1rem;
}/*# sourceMappingURL=main.css.map */